@page "/numeros"

<TitleComponent 
    Titulo="@VM.Title"
    IsVisible="false">
    <hr />
</TitleComponent>

<h5>Atualizado em: @VM.Data</h5>

@foreach (var item in VM.Numeros)
{
    <h4>@item</h4>
}