@page "/estadomvvm"


<TitleComponent 
    Titulo="@VM.Title"
    IsVisible="false">
    <hr />
</TitleComponent>

<h4>@VM.Valor</h4>


<p>
    <button @onclick="@VM.DefinirValor">Mudar o valor do componente corrente</button>
</p>

<TesteComponent2 />
