@page "/tarefas"
<TitleComponent 
    Titulo="@VM.Title"
    IsVisible="@VM.IsVisible">
    <hr />
</TitleComponent>

@foreach (var item in VM.Items)
{
    <h4>@item.Titulo</h4>
    <h4>@item.Conteudo</h4>
    <br/>
}